
body {
    background-color: $colorSecundario;
}
.logo {
    margin-right: 50px;
    margin-left: 50px;
}
@keyframes efecto-usados{
    0% {
        width: $widthmax;
        background-color:$colorSecundario;
        color: $colorSecundario;
    }
    50% {
        width: $widthmax;
        background-color:$colorSecundario;
        color:$colorPrincipal;
    }
    100% {
        width: $widthmax;
        background-color: rgb(27, 3, 3);
        color: rgb(139, 177, 211);
    }
}
.titulo-usados {
    padding: 10px;
    text-align: center;
    color: white;
    animation-name: efecto-usados;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-iteration-count: inherit;
    animation-timing-function: linear;
}
.usados-todos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    background-color:$colorSecundario;
    gap: 20px;
    width: $widthmax;
}
button {
    background-color: $colorPrincipal;
    color: white;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
button:hover {
    background-color: $colorSecundario;
    color: $colorPrincipal;
}
.usados-todos {
    .usados1 {
        img {
            width: $widthmax;
            height: 350px;
        }
    }
    .usados2 {
        img {
            width: $widthmax;
            height: 350px;
        }
    }
    .usados3 {
        img {
            width: $widthmax;
            height: 350px;
        }
    }
}
.usados1 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}
.usados2 {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}
.usados3 {
   grid-area: 1 / 3 / 2 / 4; 
   text-align: center;
}
@keyframes efecto-cerokm {
    0% {
        width: $widthmax;
        background-color:$colorSecundario;
        color: $colorSecundario;
    }
    50% {
        width: $widthmax;
        background-color:$colorSecundario;
        color:$colorPrincipal;
    }
    100% {
        width: $widthmax;
        background-color: rgb(27, 3, 3);
        color: rgb(139, 177, 211);
    }
}
.titulo-cerokm {
    text-align: center;
    color: white;
    animation-name: efecto-cerokm;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-iteration-count: inherit;
    animation-timing-function: linear;
}
.cerokm-todos {
    display: flex;
    padding: 10px;
    background-color: $colorSecundario;
    gap: 20px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .cerokm{
        text-align: center;
        img {
            width: $widthmax;
            height: 400px;
        }
    }
}
section {
    background-color: $colorSecundario;
    .test-ubi {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .test {
            width: $widthmax;
            text-align: center;
            .tit-test {
                color: white;
                padding: 15px;
                background: linear-gradient($colorSecundario, rgb(11, 18, 59), $colorSecundario);
            }  
        }
        .ubi {
            width: $widthmax;
            text-align: center;
            .tit-ubi {
                color: white;
                padding: 15px;
                background: linear-gradient($colorSecundario, rgb(11, 18, 59), $colorSecundario);  
            }
        }    
    }
}
footer {
    width: 100%;
    background-color:$colorPrincipal;
    padding: 15px;
    .footer {
        display: flex;
        justify-content:space-around;
        .box {
            .foot-logo {
                height: 100px;
                width: 100px;
            }
            .icon {
                height: 60px;
                width: 60px;
            }
        }
    }
}
