$colorPrincipal: deepskyblue;
$colorSecundario: black;
$widthmax: 100%;

@import "index";
@import "usados";
@import "0kms";

@media (max-width: 1000px){
    .todo-0kms {
       display:flex;
       flex-direction: column;
    }
    .c-a-m {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 840px) {
    .test-ubi {
        display:flex;
        flex-direction: column; 
    }
    .usados-todos {
        display:flex;
        flex-direction: column;
    }
    .cerokm-todos {
        display:flex;
        flex-direction: column;
    }
    .tit-test {
        display:flex;
        flex-direction: column;
    }
    .tit-ubi {
        display:flex;
        flex-direction: column;
    }
    }
@media (max-width: 840px) {
    .footer {
        display:flex;
       flex-direction: column;
        text-align: center;
        position:relative;
    }
}
@media (max-width:1000px) {
    .usados-c-a-m {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        }
}
@media (max-width: 700px) {
    .usados-c-a-m {
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:500px) {
    .usados-c-a-m {
        grid-template-columns: 1fr 1fr;
    }
}

